@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a E-Migrant</h1>
    <p>Con la construcción de esta aplicación se busca contribuir a la creación de canales de
        comunicación y apoyo efectivos para la gran cantidad de inmigrantes que están llegando
        al país y que en los últimos años se ha venido incrementado, en parte por la migración
        de ciudadanos venezolanos. Esto ha generado la necesidad de ofrecer apoyo a los
        diferentes problemas a los que se enfrentan al llegar al país, entre ellos: a) satisfacer sus
        necesidades básicas (comida, alojamiento, transporte), b) desempleo, c) acceder a los
        servicios de salud, d) integración social y cultural, e) comunicación con sus familias en el
        país de origen.
        Específicamente se busca el análisis, diseño y desarrollo de un prototipo computacional
        para crear redes de comunicación y apoyo a los inmigrantes residentes en Colombia (no
        solo de Venezuela). La idea es conectar a la población inmigrante más vulnerable con:
        entidades del estado, organizaciones no gubernamentales, inmigrantes con capacidad
        económica que estén dispuestos a ayudar, grupos de apoyo, etc.</p>
</div>
