@page
@model emigrantes.app.page.EmigrantesModel
@{
}
<div>
            <form method="post">
              <div class="form-group">
                <label for="id-nombre-cuidador">Nombre</label>
                <input type="text" class="form-control" id="id-nombre-cuidador" aria-describedby="emailHelp"
                  name="Nombres" placeholder="Ingrese aquí su nombre completo">
                <small id="id-nombre-cuidador-ayuda" class="form-text text-muted">Nombres</small>
              </div>
              <div class="form-group">
                <label for="id-nombre-cuidador">Apelidos</label>
                <input type="text" class="form-control" id="id-nombre-cuidador" aria-describedby="emailHelp"
                  name="Apelidos" placeholder="Ingrese aquí su nombre completo">
                <small id="id-nombre-cuidador-ayuda" class="form-text text-muted">Nombres</small>
              </div>
              <div class="form-group">
                <label for="id-telefono-cuidador">TipoDocumento</label>
                <input type="tel" class="form-control" id="id-telefono-cuidador" aria-describedby="emailHelp"
                  name="TipoDocumento" placeholder="Ingrese aquí su número de telefono">
                
              </div>
              <div class="form-group">
                <label for="id-edad-cuidador">Documento</label>
                <input type="number" class="form-control" id="id-edad-cuidador" aria-describedby="emailHelp" name="Edad"
                  placeholder="Ingrese aquí su edad">
                <small id="id-edad-cuidador-ayuda" class="form-text text-muted">Edad en años</small>
              </div>
              <div class="form-group">
                <label for="id-direccion-cuidador">Dirección</label>
                <input type="text" class="form-control" id="id-direccion-cuidador" aria-describedby="emailHelp"
                  name="Direccion" placeholder="Ingrese aquí la dirección de residencia">
                <small id="id-direccion-cuidador-ayuda" class="form-text text-muted">Dirección completa</small>
              </div>
              <div class="form-group">
                <label for="id-correo-cuidador">Correo electrónico</label>
                <input type="email" class="form-control" id="id-correo-cuidador" aria-describedby="emailHelp"
                  name="Correo" placeholder="Ingrese aquí su correo electrónico">
                <small id="id-correo-cuidador-ayuda" class="form-text text-muted">Correo electrónico activo.</small>
              </div>
              @* <div class="form-group">
                <label for="id-contrasena-cuidador">Contraseña</label>
                <input type="password" class="form-control" id="id-contrasena-cuidador" placeholder="Contraseña">
                </div> *@
              @* <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck">
                <label class="form-check-label" for="exampleCheck">Acepto la <a asp-area="" asp-page="/Privacy">Política
                de
                privacidad</a>.</p></label>
                </div> *@
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" asp-page-handler="Add">Guardar</button>
              </div>
            </form>
          </div>