@page
@using E_Migrant.App.Dominio.Entidades
@model E_Migrant.App.FrontEnd.Pages.CrearEntidadModel
@{
    ViewData["Title"] = "Registrar Entidad";
}

<h1>Registrar un nuevo migrante</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="entidad.RazonSocial">Razón Social</label>
        <input asp-for="entidad.RazonSocial" class="form-control" required="requerided">
    </div>

    <div class="form-group">
        <label asp-for="entidad.Nit">Nit de la empresa</label>
        <input asp-for="entidad.Nit" class="form-control" required="requerided">
    </div>

    <div class="form-group">
        <label asp-for="entidad.Direccion">Dirección</label>
        <input asp-for="entidad.Direccion" class="form-control" required="requerided">
    </div>

    <div class="form-group">
        <label asp-for="entidad.Ciudad">Ciudad</label>
        <input asp-for="entidad.Ciudad" class="form-control" required="requerided">
    </div>
    <div class="form-group">
        <label asp-for="entidad.Email">Correo electrónico</label>
        <input asp-for="entidad.Email" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="entidad.PaginaWeb">Pagina web</label>
        <input asp-for="entidad.PaginaWeb" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="entidad.Sector">Sector</label>
        <select asp-for="entidad.Sector" asp-items="Html.GetEnumSelectList<Sector>()" class="form-control"
            required="requerided"></select>
    </div>

    <div class="form-group">
        <label asp-for="entidad.OfertaServicios">Tipos de servicios que ofrece</label>
        <select asp-for="entidad.OfertaServicios" asp-items="Html.GetEnumSelectList<OfertaServicios>()"
            class="form-control" required="requerided"></select>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>

</form>
