@page
@using E_Migrant.App.Dominio.Entidades
@model E_Migrant.App.FrontEnd.Pages.CrearEntidadModel
@{
    ViewData["Title"] = "Registrar Entidad";
}

<h1>Registrar un nuevo migrante</h1>

<form method="post">

    <div class="form-group">
        <label asp-for="entidad.RazonSocial">Razón Social</label>
        <input asp-for="entidad.RazonSocial" class="form-control" required="requerided">
    </div>

    <div class="form-group">
        <label asp-for="entidad.Nit">Nit de la empresa</label>
        <input asp-for="entidad.Nit" class="form-control" required="requerided">
    </div>

    <div class="form-group">
        <label asp-for="entidad.Direccion">Dirección</label>
        <input asp-for="entidad.Direccion" class="form-control" required="requerided">
    </div>

    <div class="form-group">
        <label asp-for="entidad.Ciudad">Ciudad</label>
        <input asp-for="entidad.Ciudad" class="form-control" required="requerided">
    </div>

    @* <div class="form-group">
        <label asp-for="entidad.Telefono">Teléfono</label>
        <input asp-for="entidad.Telefono" class="form-control" required="requerided">
    </div> *@

    <div class="form-group">
        <label asp-for="entidad.Email">Correo electrónico</label>
        <input asp-for="entidad.Email" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="entidad.PaginaWeb">Pagina web</label>
        <input asp-for="entidad.PaginaWeb" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="entidad.Sector">Sector</label>
        <select asp-for="entidad.Sector" class="form-select form-control" required="requerided">
            <option asp-for="Sector.Publico">Público</option>
            <option asp-for="Sector.Privado">Privado</option>
            <option asp-for="Sector.SinAnimoLucro">Sin ánimo de lucro</option>
            <option asp-for="Sector.NoGubernamental">No Gubernamental</option>
            <option asp-for="Sector.Otro">Otro</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="entidad.OfertaServicios">Tipos de servicios que ofrece</label>
        <select asp-for="entidad.OfertaServicios"class="form-select form-control" required="requerided">
            <option asp-for="OfertaServicios.Salud">Salud</option>
            <option asp-for="OfertaServicios.Juridicos">Jurídicos</option>
            <option asp-for="OfertaServicios.Viveres">Víveres</option>
            <option asp-for="OfertaServicios.ComidaPreparada">Comida preparada</option>
            <option asp-for="OfertaServicios.Empleo">Empleo</option>
            <option asp-for="OfertaServicios.AlojamientoTemporal">Alojamiento temporal</option>
            <option asp-for="OfertaServicios.AlojamientoPermanente">Alojamiento permanente</option>
            <option asp-for="OfertaServicios.Educacion">Educacíon</option>
            <option asp-for="OfertaServicios.Otros">Otros</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>

</form>